Source: 2chcoin
Section: utils
Priority: optional
Maintainer: Holger Schinzel <holger@2chcoin.org>
Uploaders: Holger Schinzel <holger@2chcoin.org>
Build-Depends: debhelper,
 devscripts,
 automake,
 libtool,
 bash-completion,
 libdb4.8++-dev,
 libssl-dev,
 pkg-config,
 libevent-dev,
 libboost-system1.48-dev | libboost-system-dev (>> 1.47),
 libboost-filesystem1.48-dev | libboost-filesystem-dev (>> 1.47),
 libboost-program-options1.48-dev | libboost-program-options-dev (>> 1.47),
 libboost-thread1.48-dev | libboost-thread-dev (>> 1.47),
 libboost-test1.48-dev | libboost-test-dev (>> 1.47),
 libboost-chrono1.48-dev | libboost-chrono-dev (>> 1.47),
 libminiupnpc8-dev | libminiupnpc-dev,
 qt4-qmake, libqt4-dev,
 qttools5-dev-tools, qttools5-dev,
 libqrencode-dev,
 libprotobuf-dev, protobuf-compiler,
 python,
 libzmq3-dev
Standards-Version: 3.9.2
Homepage: https://www.2chcoin.org/
Vcs-Git: git://github.com/2chcoinpay/2chcoin.git
Vcs-Browser: https://github.com/2chcoinpay/2chcoin

Package: 2chcoind
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - daemon
 2chcoin is an experimental new digital currency that enables instant, private
 payments to anyone, anywhere in the world. 2chcoin uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. 2chcoin Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides the daemon, 2chcoind, and the CLI tool
 2chcoin-cli to interact with the daemon.

Package: 2chcoin-qt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - Qt GUI
 2chcoin is an experimental new digital currency that enables instant, private
 payments to anyone, anywhere in the world. 2chcoin uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. 2chcoin Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides 2chcoin-Qt, a GUI for 2chcoin based on Qt.

Package: 2chcoin-tx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer digital currency - standalone transaction tool
 2chcoin is an experimental new digital currency that enables instant, private
 payments to anyone, anywhere in the world. 2chcoin uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. 2chcoin Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides 2chcoin-tx, a command-line transaction creation
 tool which can be used without a 2chcoin daemon.  Some means of
 exchanging minimal transaction data with peers is still required.
